.p1 {
  background-color: #FFF;
}

.p2 {
  background-color: #DDD;
}

.p3 {
  background-color: #BBB;
}

.p4 {
  background-color: #999;
}

.p5 {
  background-color: #777;
}

.p6 {
  background-color: #555;
}

.p7 {
  background-color: #333;
}

.p8 {
  background-color: #000;
}
